each item in theCostumes
  div
    p Costume_Type - #{item.costume_type}
    p Size - #{item.size}
    p Cost - #{item.cost}
    br

//- div
//-   - let lastItemIndex = theCostumes.length - 1
//-   each item, index in theCostumes
//-     p Costume_Type - #{item.costume_type} || Size - #{item.size}  || Cost - #{item.cost}
//-     if index !== lastItemIndex
//-       p