extends layout

block content
  h1.text-center= title
  - let productid = toShow._id
  - let product_name = toShow.product_name
  - let productfeature = toShow.feature
  - let productcost = toShow.cost
  .card.mx-auto.mt-5
    .card-body.text-center
      div.row
        .col-3.text-right
          div(class='productAttr') Product ID
          div #{productid}
        .col-3.text-right
          div(class='productAttr') Product Name
          div #{product_name}
        .col-3.text-right
          div(class='productAttr') Product Feature
          div #{productfeature}
        .col-3.text-right
          div(class='productAttr') Product Cost
          div #{productcost}
  .row.mt-3
    .col.text-center
      a.btn.btn-primary(href='/products') Back to Product List
  style.
    .productAttr {
      background-color: aquamarine;
      width: 120px;
      margin: 0 auto;
    }