extends layout
block content

  h1= title
  -
    let productid = toShow._id
  -
    let product_type = toShow.product_type
  -
    let productsize = toShow.size
  -
    let productcost = toShow.cost

  style.
    .productAttr {
      background-color: aquamarine;
      width: 120px;
    }

  div
    div.row
      div(class="productAttr mr-3") Product ID:
      div #{productid}

    div.row
      div(class="productAttr mr-3") Product Type:
      div #{product_type}

    div.row
      div(class="productAttr mr-3") Product Size:
      div #{productsize}

    div.row
      div(class="productAttr mr-3") Product Cost:
      div #{productcost}
